div.neon, div.list-container {
	padding: 3em;
	
	background-color: black;
	border-color: #0f0;
	border-style: solid;
	color: #0f0;
}

div.neon {
	box-shadow: 0 0 32px 2px #0f0;
	-webkit-box-shadow: 0 0 32px 2px #0f0;
	-moz-box-shadow: 0 0 32px 2px #0f0;
}

div.neon > div {
	display: none;
}

div.gutter {
	width: 20%;
	height: 100%;
	display: inline-block;
}

a.tab-button {
	color: #0f0;
	display: inline-block;
	font-size: 1.5em;
	text-decoration: none;
	transition: transform 0.2s;
}

a.tab-button:hover {
	text-decoration: underline;
	transform: scale(120%) rotateZ(10deg);
	transition: transform 0.2s ease-in-out;
}


p.header-text {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.col {
	width: 50%;
	display: inline;
}

div.left {
	float: left;
}

div.left > p {
	padding-right: 2em;
}

div.right {
	float: right;
}

div.right > p {
	padding-left: 2em;
}

div.col > img {
	width: 100%;
}

a {
	color: #9fc;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 60%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

a {
	cursor: pointer;
	text-decoration: underline;
}

div.list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.list-container:empty {
	padding: 1em;
	color: #0f0;
}

div.list-container > a.game-preview {
	
}

img {
	margin: 0 0 0 1em;
}